[submodule "retroclash-lib"]
	path = retroclash-lib
	url = git@github.com:gergoerdi/retroclash-lib.git
[submodule "clash-intel8080"]
	path = clash-intel8080
	url = git@github.com:gergoerdi/clash-intel8080.git
[submodule "retroclash-sim"]
	path = retroclash-sim
	url = git@github.com:gergoerdi/retroclash-sim.git
[submodule "clash-shake"]
	path = clash-shake
	url = git@github.com:gergoerdi/clash-shake.git
