# NET LEDS(3)        LOC="P61"  | IOSTANDARD=LVTTL;                                # A4
# NET LEDS(2)        LOC="P66"  | IOSTANDARD=LVTTL;                                # A5
# NET LEDS(1)        LOC="P67"  | IOSTANDARD=LVTTL;                                # A6
# NET LEDS(0)        LOC="P75"  | IOSTANDARD=LVTTL;                                # A7

NET PS2CLK_A       LOC="P115" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C1
NET PS2DATA_A      LOC="P114" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C0

# NET PS2CLK_B       LOC="P93"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # A13
# NET PS2DATA_B      LOC="P88"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # A12

# NET AUDIO_L        LOC="P98"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # A14
# NET AUDIO_R        LOC="P100" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # A15

NET VGA_VSYNC      LOC="P116" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C2
NET VGA_HSYNC      LOC="P117" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C3
NET VGA_RED(0)     LOC="P118" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C4
NET VGA_RED(1)     LOC="P119" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C5
NET VGA_RED(2)     LOC="P120" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C6
NET VGA_RED(3)     LOC="P121" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C7
NET VGA_GREEN(0)   LOC="P84"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B4
NET VGA_GREEN(1)   LOC="P82"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B5
NET VGA_GREEN(2)   LOC="P80"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B6
NET VGA_GREEN(3)   LOC="P78"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B7
NET VGA_BLUE(0)    LOC="P99"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B0
NET VGA_BLUE(1)    LOC="P97"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B1
NET VGA_BLUE(2)    LOC="P92"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B2
NET VGA_BLUE(3)    LOC="P87"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B3

# NET BUTTON_UP      LOC="P95"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B9
# NET BUTTON_DOWN    LOC="P62"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B10
# NET BUTTON_LEFT    LOC="P74"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B8
# NET BUTTON_RIGHT   LOC="P59"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B11

# NET JOYSTICK_A(0)  LOC="P57"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B12
# NET JOYSTICK_A(1)  LOC="P50"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B14
# NET JOYSTICK_A(2)  LOC="P47"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B15
# NET JOYSTICK_A(3)  LOC="P51"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # A1
# NET JOYSTICK_A(4)  LOC="P58"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # A3
# NET JOYSTICK_A(5)  LOC="P55"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B13
# NET JOYSTICK_A(7)  LOC="P48"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # A0
# NET JOYSTICK_A(8)  LOC="P56"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # A2

# NET JOYSTICK_B(0) LOC="P123" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C8
# NET JOYSTICK_B(1) LOC="P126" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C10
# NET JOYSTICK_B(2) LOC="P127" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C11
# NET JOYSTICK_B(3) LOC="P132" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C13
# NET JOYSTICK_B(4) LOC="P134" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C15
# NET JOYSTICK_B(5) LOC="P124" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C9
# NET JOYSTICK_B(7) LOC="P131" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C12
# NET JOYSTICK_B(8) LOC="P133" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C14

# NET SDRAM_ADDR(0)  LOC="P140" | IOSTANDARD=LVTTL;                                # SDRAM_ADDR0
# NET SDRAM_ADDR(1)  LOC="P139" | IOSTANDARD=LVTTL;                                # SDRAM_ADDR1
# NET SDRAM_ADDR(2)  LOC="P138" | IOSTANDARD=LVTTL;                                # SDRAM_ADDR2
# NET SDRAM_ADDR(3)  LOC="P137" | IOSTANDARD=LVTTL;                                # SDRAM_ADDR3
# NET SDRAM_ADDR(4)  LOC="P46"  | IOSTANDARD=LVTTL;                                # SDRAM_ADDR4
# NET SDRAM_ADDR(5)  LOC="P45"  | IOSTANDARD=LVTTL;                                # SDRAM_ADDR5
# NET SDRAM_ADDR(6)  LOC="P44"  | IOSTANDARD=LVTTL;                                # SDRAM_ADDR6
# NET SDRAM_ADDR(7)  LOC="P43"  | IOSTANDARD=LVTTL;                                # SDRAM_ADDR7
# NET SDRAM_ADDR(8)  LOC="P41"  | IOSTANDARD=LVTTL;                                # SDRAM_ADDR8
# NET SDRAM_ADDR(9)  LOC="P40"  | IOSTANDARD=LVTTL;                                # SDRAM_ADDR9
# NET SDRAM_ADDR(10) LOC="P141" | IOSTANDARD=LVTTL;                                # SDRAM_ADDR10
# NET SDRAM_ADDR(11) LOC="P35"  | IOSTANDARD=LVTTL;                                # SDRAM_ADDR11
# NET SDRAM_ADDR(12) LOC="P34"  | IOSTANDARD=LVTTL;                                # SDRAM_ADDR12
# NET SDRAM_DATA(0)  LOC="P9"   | IOSTANDARD=LVTTL;                                # SDRAM_DATA0
# NET SDRAM_DATA(1)  LOC="P10"  | IOSTANDARD=LVTTL;                                # SDRAM_DATA1
# NET SDRAM_DATA(2)  LOC="P11"  | IOSTANDARD=LVTTL;                                # SDRAM_DATA2
# NET SDRAM_DATA(3)  LOC="P12"  | IOSTANDARD=LVTTL;                                # SDRAM_DATA3
# NET SDRAM_DATA(4)  LOC="P14"  | IOSTANDARD=LVTTL;                                # SDRAM_DATA4
# NET SDRAM_DATA(5)  LOC="P15"  | IOSTANDARD=LVTTL;                                # SDRAM_DATA5
# NET SDRAM_DATA(6)  LOC="P16"  | IOSTANDARD=LVTTL;                                # SDRAM_DATA6
# NET SDRAM_DATA(7)  LOC="P8"   | IOSTANDARD=LVTTL;                                # SDRAM_DATA7
# NET SDRAM_DATA(8)  LOC="P21"  | IOSTANDARD=LVTTL;                                # SDRAM_DATA8
# NET SDRAM_DATA(9)  LOC="P22"  | IOSTANDARD=LVTTL;                                # SDRAM_DATA9
# NET SDRAM_DATA(10) LOC="P23"  | IOSTANDARD=LVTTL;                                # SDRAM_DATA10
# NET SDRAM_DATA(11) LOC="P24"  | IOSTANDARD=LVTTL;                                # SDRAM_DATA11
# NET SDRAM_DATA(12) LOC="P26"  | IOSTANDARD=LVTTL;                                # SDRAM_DATA12
# NET SDRAM_DATA(13) LOC="P27"  | IOSTANDARD=LVTTL;                                # SDRAM_DATA13
# NET SDRAM_DATA(14) LOC="P29"  | IOSTANDARD=LVTTL;                                # SDRAM_DATA14
# NET SDRAM_DATA(15) LOC="P30"  | IOSTANDARD=LVTTL;                                # SDRAM_DATA15
# NET SDRAM_DQML     LOC="P7"   | IOSTANDARD=LVTTL;                                # SDRAM_DQML
# NET SDRAM_DQMH     LOC="P17"  | IOSTANDARD=LVTTL;                                # SDRAM_DQMH
# NET SDRAM_BA(0)    LOC="P143" | IOSTANDARD=LVTTL;                                # SDRAM_BA0
# NET SDRAM_BA(1)    LOC="P142" | IOSTANDARD=LVTTL;                                # SDRAM_BA1
# NET SDRAM_nWE      LOC="P6"   | IOSTANDARD=LVTTL;                                # SDRAM_nWE
# NET SDRAM_nCAS     LOC="P5"   | IOSTANDARD=LVTTL;                                # SDRAM_nCAS
# NET SDRAM_nRAS     LOC="P2"   | IOSTANDARD=LVTTL;                                # SDRAM_nRAS
# NET SDRAM_CS       LOC="P1"   | IOSTANDARD=LVTTL;                                # SDRAM_CS
# NET SDRAM_CLK      LOC="P32"  | IOSTANDARD=LVTTL;                                # SDRAM_CLK
# NET SDRAM_CKE      LOC="P33"  | IOSTANDARD=LVTTL;                                # SDRAM_CKE

# NET JTAG_TMS       LOC="P107" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # JTAG_TMS
# NET JTAG_TCK       LOC="P109" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # JTAG_TCK
# NET JTAG_TDI       LOC="P110" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # JTAG_TDI
# NET JTAG_TDO       LOC="P106" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # JTAG_TDO

# NET FLASH_CS       LOC="P38"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # FLASH_CS
# NET FLASH_CK       LOC="P70"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # FLASH_CK
# NET FLASH_SI       LOC="P64"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # FLASH_SI
# NET FLASH_SO       LOC="P65"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # FLASH_SO
