NET VGA_VSYNC      LOC="P99"  | IOSTANDARD=LVTTL;
NET VGA_HSYNC      LOC="P97"  | IOSTANDARD=LVTTL;
NET VGA_RED(0)     LOC="P78"  | IOSTANDARD=LVTTL;
NET VGA_RED(1)     LOC="P74"  | IOSTANDARD=LVTTL;
NET VGA_RED(2)     LOC="P95"  | IOSTANDARD=LVTTL;
NET VGA_GREEN(0)   LOC="P84"  | IOSTANDARD=LVTTL;
NET VGA_GREEN(1)   LOC="P82"  | IOSTANDARD=LVTTL;
NET VGA_GREEN(2)   LOC="P80"  | IOSTANDARD=LVTTL;
NET VGA_BLUE(0)    LOC="P92"  | IOSTANDARD=LVTTL;
NET VGA_BLUE(1)    LOC="P87"  | IOSTANDARD=LVTTL;
